html,
body,
.intro {
  height: 80%;
}

@media (min-width: 560px) and (max-width: 750px) {

  html,
  body,
  .intro {
    height: 830px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {

  html,
  body,
  .intro {
    height: 830px;
  }
}

.gradient-custom {
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #a1c4fd, #c2e9fb);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
}