
<!-- css link -->
<link rel="stylesheet" href="../css/loginpage.css">
<!-- sign in page -->
<div class="container mt-4 col-md-4">
  <div class="intro">
    <div class="card gradient-custom" style="border-radius: 1rem;">
      <div class="row justify-content-center">
        <div class="card-body p-4 text-black">
          <div class="my-md-3">
            <h2>Sign In</h2>
            <br>
            <form method="POST" action="/create-session">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" />
              </div>
              <div class="text-center py-5">
                <button class="btn btn-light btn-lg btn-rounded px-5" type="submit">Sign In</button>
              </div>
            </form>
            <p class="mt-2"><a href="/sign-up">Don't have an account? Sign-Up</a></p>
          </div>
        </div>
      </div>
    </div>
